<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560991843913-04vli0fbmarb7fcu2jg4nnurm771iaet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560991843913-04vli0fbmarb7fcu2jg4nnurm771iaet</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>560991843913-pjd0lltof043o0v6vmb75sm03kg0j36o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDmSuYAuNuQdLCXkT1CuS2vJUW0B4hbw7U</string>
	<key>GCM_SENDER_ID</key>
	<string>560991843913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.greatideas4ap.taspieh</string>
	<key>PROJECT_ID</key>
	<string>tsbeh-e4931</string>
	<key>STORAGE_BUCKET</key>
	<string>tsbeh-e4931.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560991843913:ios:6204550cbfda10d9</string>
	<key>DATABASE_URL</key>
	<string>https://tsbeh-e4931.firebaseio.com</string>
</dict>
</plist>